manifest {
    description = 'RNA seq analysis'  
    mainScript = 'main.nf'
}


process.executor = 'pbs'



// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = false
}
report {
  enabled = false
}
trace {
  enabled = false
}
dag {
  enabled = false
}
