manifest {
    description = 'RNA seq analysis'  
    mainScript = 'main.nf'
}


process.executor = 'pbs'



/*
 * Defines some parameters in order to specify the refence genomes
 * and read pairs by using the command line options
 */

// Params Reads
params.reads = "Fastq/*_{R1,R2}.fastq.gz"


// Params Genome
params.genome_path 	= "/home1/datawork/tdestanq/Nextflow_tests/Ref_Genome"
params.genome_fa 	= "/home1/datawork/tdestanq/Nextflow_tests/Ref_Genome/genome.fa"
params.genomeIndex 	= "genomeIndex"
params.annot 		= "/home1/datawork/tdestanq/Nextflow_tests/Ref_Genome/genome_Pmarg_v2.gff3"


// Params Other
params.add_header			= "/home1/datawork/tdestanq/Nextflow_tests/Scripts/add_header_htseq.sh"
params.join_multiple_file	= "/home1/datawork/tdestanq/Nextflow_tests/Scripts/join_multiple_files.sh"
params.adapter_file = "/home1/datawork/tdestanq/Nextflow_tests/Other_files/univec.fa"
params.outdir 		= 'results'



// Params Trim
params.illuminaclip_1 = "2"
params.illuminaclip_2 = "20"
params.illuminaclip_3 = "7"
params.leading 	= "20"
params.trailing = "20"
params.slidingwindows_1 = "30"
params.slidingwindows_2 = "30"
params.minlen = "60"


// Params Alignment
params.min_coverage    = "0.9"
params.max_mismatches  = "2"
params.novel_splicing  = "1"







// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = false
}
report {
  enabled = false
}
trace {
  enabled = false
}
dag {
  enabled = false
}
